<br>
<div class="container rounded" style="background-image: url(https://images.unsplash.com/photo-1556388275-bb5585725aca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80);">
  <h1 style="color:rgb(228, 230, 231); text-align: center;">OUR CUSTOMER'S FEEDBACK</h1>
    <br>
    <h5 class="bg-dark rounded mt-1 ms-5 me-5 " style="color:rgb(228, 230, 231);border:aliceblue; text-align: center;"><i>'Nothing can be stuck in your head better than a movie,<br>
    Movies can express the most complicated feelings in most digestable way'</i></h5>
    
    <br>
    <div class="container">
        <div class="row ">
          <div class="col-sm">
            <div class="card d-block m-auto" style="width: 18rem; background-color: rgb(184, 187, 187);">
                <div class="card-body">
                  <h5 class="card-title">1</h5>
                  <p class="card-text">Popcorn time is an amazing platform to offer you wide range of choices. You can have a look at films and also view as well as promote your shortfilms, teasers, projects, bollywood movies etc.</p>
                </div>
              </div>
          </div>
          <div class="col-sm">
            <div class="card d-block m-auto" style="width: 18rem; background-color: rgb(184, 187, 187);">
                <div class="card-body">
                  <h5 class="card-title">2</h5>
                  <p class="card-text">Popcorn time streams few films for free.. It has flexible payment options and it gives user all options.<br><br><br> </p>
                </div>
              </div>
          </div>
          <div class="col-sm">
            <div class="card d-block m-auto" style="width: 18rem; background-color: rgb(184, 187, 187);">
                <div class="card-body">
                  <h5 class="card-title">3</h5>
                  <p class="card-text">The content is awesome..It is user-freiendly app.In love with this app..<br><br><br><br><br></p>
                  
                </div>
              </div>
          </div>
        </div>
      </div>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="card d-block m-auto" style="width: 18rem; background-color: rgb(184, 187, 187);">
                <div class="card-body">
                  <h5 class="card-title">4</h5>
                  <p class="card-text">Their content list is too good.I would say Popcorn Time is totally worth it for the sheer amount of content that they have and such a wide variety too especially international series and movies.</p>
                  
                </div>
              </div>
          </div>
          <div class="col-sm">
            <div class="card d-block m-auto" style="width: 18rem; background-color: rgb(184, 187, 187);">
                <div class="card-body">
                  <h5 class="card-title">5</h5>
                  <p class="card-text"> Popcorn time has one of the best content catalogues among paid streaming sites. I was impressed with House of Cards and got the subscription. And I am happy that I subscribed.</p>
                  <br>
                </div>
              </div>
          </div>
          <div class="col-sm">
            <div class="card d-block m-auto" style="width: 18rem; background-color: rgb(184, 187, 187);">
                <div class="card-body">
                  <h5 class="card-title">6</h5>
                  <p class="card-text">Popcorn time is the best thing that has happened lately . I used to download all the shows like suits , arrow etc . Now i watch them all on my mobile <br><br></p>
                <br>
                </div>
              </div>
          </div>
        </div>
      </div>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="card d-block m-auto" style="width: 18rem; background-color: rgb(184, 187, 187);">
                <div class="card-body">
                  <h5 class="card-title">7</h5>
                  <p class="card-text">Popcorn time is one of the premium apps for watching movies . Its well-organized UI provides seamless entertainment.
                    On opening up the application you get to see a list of movies sorted into their respective categories.</p>
                </div>
              </div>
          </div>
          <div class="col-sm">
            <div class="card d-block m-auto" style="width: 18rem; background-color: rgb(184, 187, 187);">
                <div class="card-body">
                  <h5 class="card-title">8</h5>
                  <p class="card-text">I've found that Popcorn Time is pretty good for finding movie times, looking at reviews, and watching trailers.</p>
                  <br>
                  <br>
                  <br>
                </div>
              </div>
          </div>
          <div class="col-sm">
            <div class="card d-block m-auto" style="width: 18rem; background-color: rgb(184, 187, 187);">
                <div class="card-body">
                  <h5 class="card-title">9</h5>
                  <p class="card-text">There is lot of app offers movie streaming .
                    But i suggest this app named Popcorn time, which offers nearly 200+  evergeen hit movies in good quality.<br>
                  <br></p>
                </div>
              </div>
          </div>
        </div>
      </div>
      <br>