<div class="container-fluid d-flex justify-content-between p-4 bg-dark  mt-3">
    <div class="first text-white mt-3">
        <h6>Street:4864  Shaughnessy St </h6>
        <h6>City: Port Coquitlam </h6> 
        <h6>Zip code: V3C 4S7 </h6>       
        <h6>Country: Canada</h6>    
        
    </div>
    <div class="middle text-white">
        <h4 class="text-center ">Share the Love</h4>
        <div class="d-flex mt-3 justify-content-around">
            <a href="https://www.instagram.com/" target="blank">
                <img class="logo" src="https://image.flaticon.com/icons/png/512/4406/4406252.png"  alt="">
            </a>
            <a href="https://twitter.com/i/flow/signup?lang=en" target="blank">
                <img class="logo" src="https://image.flaticon.com/icons/png/512/3578/3578922.png" alt="">
            </a>
            <a href="https://www.facebook.com/" target="blank">
                <img class="logo" src="https://image.flaticon.com/icons/png/512/4406/4406235.png" alt="">
            </a>
            <a href="https://www.whatsapp.com/" target="blank">
                <img class="logo" src="https://image.flaticon.com/icons/png/512/1383/1383269.png" alt="">
            </a>
            <a href="https://www.linkedin.com" target="blank">
                <img class="logo" src="https://image.flaticon.com/icons/png/512/1383/1383262.png" alt="">
            </a>
            
        </div>
        <img class="mt-2" src="https://img-premium.flaticon.com/png/512/505/premium/505196.png?token=exp=1626686403~hmac=d97ed5d86ba1d2eaab3b72acb289d020">
        <h6><i class="far fa-copyright"></i> 2021.All Rights Reserved.Popcorn Times.<i class="far fa-registered"></i>
        </h6>
    </div>
    <div class="last text-white mt-3">
        <h6>popcorntimes@gmail.com</h6>
        <h6>Phone number : 604-464-0925</h6>
        <h6>Enjoy Ur Time</h6>
    </div>
</div>