<div class="container" style="width:100%">
    <div class="card  d-block m-auto mt-5 shadow rounded w-75">
        <div class="child mt-4">
            <img  class="rounded d-block m-auto" src="https://i.pinimg.com/564x/1f/2a/4e/1f2a4ee96e6e8eba736deccde914e70d.jpg" width="100%" height="500px">
             <div class="card-body">
        </div>
    </div>
</div>
<h1 class="text-white m-5" style="text-align: center;font-size: 50px; text-shadow: 2px 2px 5px red;">Welcome to POPCORN TIME</h1>
<div class="container">

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2" >
        <div class="col">
        <div class="card w-75 h-75 m-4 mt-5" style="background-color: rgb(121, 121, 126); border-color:rgb(121, 121, 126) ;" >
            <div class="card-body">
                <div class="row ">
                        <img src="https://media.istockphoto.com/photos/watching-tv-and-using-remote-controller-picture-id1215469144?b=1&k=6&m=1215469144&s=170667a&w=0&h=IwnjCdeHwu0piVnu20hCi9Ht9r77xUDyCAjmlviBIIg=" width="100%" height="100%"> 
                </div>
            </div>     
        </div>
        </div>
        <div class="col">
        <div class="card m-4 mt-5" style="background-color: rgb(121, 121, 126); border-color:rgb(121, 121, 126) ;">
            <div class="card-body">
                <div class="row">
                    
                        <div class="col-sm-8 text-white"  style="font-size: larger;">
                            <h6 class="display-6"><b><i><i class="fas fa-tv"></i> Great Entertainment</i></b></h6>
                            <p>
                                With your Popcorntime membership, you have access to exclusive  Originals,
                                 blockbuster Bollywood movies, regional movies and more.</p>
                           <button type="submit" class="bg-dark text-white pt-2 pb-2 ps-5 pe-5 px-4 rounded"><a href="https://popcorn-time.tw/  "style="color:white;" target="_blank">Get Started</a></button>
                         
                     </div>  
                    </div>

                </div>
            </div>     
            </div>
     
    </div>

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2" >
           
            <div class="col">
            <div class="card  mt-5" style="background-color: rgb(121, 121, 126); border-color:rgb(121, 121, 126) ;">
                <div class="card-body">
                    <div class="row">
                        
                            <div class="col-sm-8 text-white " style="font-size: larger;">
                                <h6 class="display-6"><b><i><i class="fas fa-users"></i> One membership, many benefits</i></b></h6>
                               
                                <p>
                                    Your Popcorntime membership now also includes ad-free music along with unlimited free, 
                                    fast delivery on eligible items, exclusive access to deals & more.</p>
                               <button type="submit" class="bg-dark text-white pt-2 pb-2 ps-5 pe-5 px-4 rounded"><a href="https://popcorn-time.tw/" style="color:white;" target="_blank">Get Started</a></button>
                             
                         </div>  
                        </div>
    
                    </div>
                </div>     
                </div>

                <div class="col">
                    <div class="card  w-75 h-75 mt-5" style="background-color: rgb(121, 121, 126); border-color:rgb(121, 121, 126) ;" >
                        <div class="card-body">
                            <div class="row ">
                                    <img src="https://www.yourmembership.com/wp-content/uploads/2020/03/Blog012218-GrowMembers-card.png" width="100%" height="100%"> 
                             
                            </div>
                        </div>     
                        </div>
                    </div>
         
    </div>
</div> 
</div>
