<div class="mt-5">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item me-5 ms-5">
          <a class="nav-link" routerLink="aboutus" routerLinkActive=active><i class="fas fa-stream"></i> Know_us</a>
        </li>
        <li class="nav-item me-5 ms-5">
          <a class="nav-link" routerLink="register" routerLinkActive=active><i class="fas fa-check"></i> Register</a>
        </li>
        <li class="nav-item me-5 ms-5">
          <a class="nav-link" routerLink="login" routerLinkActive=active><i class="fas fa-sign-in-alt"></i> Login</a>
        </li>
      </ul>
</div>
<!-- dummy place holder -->
<router-outlet></router-outlet>